@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1" >Welcome</h1>
</div>
<div class="text-center">
    <h1 class="display-8">What is Clever Cycle?</h1>
    <p>The Clever Cycle is an application that allows you to plan parenthood by specifying fertile days. It uses a natural double-check method that is based on calculations and the following symptoms: temperature, bleeding, mucus, hardness and the position of the cervix.</p>
</div>
<div class="text-center">
    <h1 class="display-8">What is the English method?</h1>
    <p>
The double-check method, also known as the English method, is a symptothermal method that was developed by two gynecologists: Dr. Anna Flynn and Prof. John Kelly. It uses the following indicators to determine the beginning or end of fertility:
basal body temperature,mucus, cervix.
There are also additional symptoms that may only help in interpreting the main indicators, including lower abdominal pain, skin changes, breast tenderness, or ovulatory spotting. The first day of the period of fertility is determined by the appearance of mucus or a change in feeling, or a change in position and dilation of the cervix, or a calculation, and the end is determined by basal body temperature or the observation and interpretation of mucus and cervix.</p>
</div>